.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px auto;
  list-style: none;
  width: 1128px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  transition: all 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}
